<h1><%= @semester.season %> - <%= @semester.year %><br /></h1>
<ul>
  <!--<li>Course: <a href="/semesters/<%=@semester.id%>"><%= @semester.season %> - <%= @semester.year %></a></li>-->
</ul>
<br>
<h3>Options:</h3>
<ol>
  <li><a href="/semesters/<%=@semester.id%>/edit">Edit Semester</a></li>
  <li><a href="/semesters">Your Semesters</a></li>
  <li><a href="/semesters/<%=@semester.id%>/courses">Semester's Courses</a></li>
  <li>Delete Semester:
    <form action="/semesters/<%= @semester.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </li>
</ol>
<br />
<br />
