<h1><%= @semester.season %> - <%= @semester.year %><br></h1>

<h2>Course List<br></h2>

<%if @courses.empty?%>
  <%="You have no courses :("%>
<%else%>
  <ol>
    <%@courses.each do |course|%>
      <li><a href="/courses/<%=course.id%>"><%=course.department%> - <%=course.title%></a></li>
      <ul>
        <li>Professor: <%=course.professor%></li>
        <li>Location: <%=course.location%></li>
      </ul>
    <%end%>
  </ol>
<%end%>
<h3>Options:</h3>
<ul>
  <li><a href="/semesters/<%=@semester.id%>/courses/new">Add a new course</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>
