<h1><%= @course.title %><br /></h1>
<ul>
  <li>Department: <%= @course.department %></li>
  <li>Professor: <%= @course.professor %></li>
  <li>Location: <%= @course.location %></li>
  <li>Course: <a href="/courses/<%=@course.id%>"><%= @course.title %></a></li>
</ul>
<br>
<h3>Options:</h3>
<ol>
  <li><a href="/courses/<%=@course.id%>/edit">Edit Course</a></li>
  <li><a href="/semesters/<%=@semester.id%>/courses">Your Courses</a></li>
  <li>Delete Course:
    <form action="/courses/<%= @course.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </li>
</ol>
<br />
<br />
