<%= @course.title %><br />
<%= @course.department %> <br />
<%= @course.professor %> <br />
<%= @course.location %> <br />

Course: <a href="/courses/<%=@course.id%>"><%= @course.title %></a> <br />
<a href="/courses/<%=@club.id%>/edit">Edit Course</a>
<br />
<br />
